In [62]:
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/Cora1218/pandas/main/store_sales.csv')
df1=pd.read_csv('https://raw.githubusercontent.com/Cora1218/pandas/main/date_info.csv')
df2=pd.read_csv('https://raw.githubusercontent.com/Cora1218/pandas/main/store_info.csv')

u=pd.merge(df, df1, how='inner', left_on='sales_datetime', right_on='calendar_date')
u

df3=(u[u.holiday_flg==1])
a=df3.groupby(['id'])[['sales_count']].aggregate('mean')

b=a.nlargest(5, ['sales_count']) 

c=pd.merge(df2,b,left_on='store_id', right_on='id')
c.columns = ['Store_id','Store_type','Zone_name', 'Latitude', 'Longitude', 'Average']
by_average = c.sort_values('Average', ascending=False)
by_average.style.set_caption("*******  Five stores that have the highest average number of sales on holidays     *******")